
.content {

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__playlist {
        overflow: auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 100vh;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }
}

.playlist-title {

  

    &__col {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2px;
        color: #696969;
        text-transform: uppercase;
        
    }

    &__svg {
        width: 12px;
        height: 12px;
        fill: transparent;
        stroke: #696969;
    }
}

